.black-15 {
    font-size: 15px;
}

.black-13 {
    font-size: 13px;
}

.green-13 {
    color: rgb(0, 204, 0);
    font-size: 13px;
}

.red-12 {
    color: #f13329;
    font-size: 12px;
}

.red-13 {
    color: #f13329;
    font-size: 13px;
}

.red-15 {
    color: #f13329;
    font-size: 15px;
}

.gray-12 {
    color: #a3a3a3;
    font-size: 12px
}

.gray-13 {
    color: #a3a3a3;
    font-size: 13px
}

.dark-12 {
    color: #565656;
    font-size: 12px;
}

.dark-13 {
    color: #565656;
    font-size: 13px;
}

.darken-13 {
    color: #333;
    font-size: 13px;
}

.darken-15 {
    color: #333;
    font-size: 15px;
}

i,b,span{
    display: inline-block;
}
em{
    font-style: normal;
}